/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
}

.container {
    background-color: rgb(250, 250, 250);
    position: relative;
    width: 100%;
    height: 100vh;
}

.tasks-container,
.gant-container {
    position: absolute;
    top: 6px;
    /* height: calc(100% - 12px); */
    background-color: #FFFFFF;
}

.tasks-container {
    left: 0;
    width: 30%;
    border-right: 1px dashed rgb(138, 138, 138);
    border-left: 1px solid rgb(138, 138, 138);
    padding-left: 6px;
}

.gant-container {
    right: 6px;
    width: calc(70% - 6px);
    padding-right: 0px;
    border-right: 1px solid rgb(138, 138, 138);
}

.tasks-header,
.months-header {
    height: 34px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-top: 1px solid rgb(138, 138, 138);
    border-bottom: 1px solid rgb(138, 138, 138);

    position: sticky;
    top: -0.5px;
    z-index: 1;
}

.task-name,
.task-time,
.task-duration,
.task-add,
.month {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 0 5px;
    border-right: 1px solid rgb(138, 138, 138);
}

.month:last-child {
    border-right: none;
}

.task-name {
    width: 45%;
    border-left: 1px solid rgb(138, 138, 138);
}

.task-time {
    width: 29%;
}

.task-duration {
    width: 15%;
    border-right: none;

    display: flex;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
}

.task-add {
    border-right: none;
    padding-right: 6px;
}

.month {
    width: 100%;
}

.task-add button {
    background-color: #ebebeb;
    border: none;
    width: 27px;
    height: 27px;
    padding: 3px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10%;
}

.task-list,
.gant-canvas {
    position: absolute;
    top: 34px;
    width: 100%;
    /* height: calc(100% - 40px); */
    overflow-y: auto;
}

.task-list {
    left: 0;
    background-color: #FFFFFF;
}

.gant-canvas {
    right: 0;
    background-color: rgba(255, 255, 255, 255);
}

.gant-canvas canvas {
    background-color: rgba(255, 255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
}

/* Task row style */
.task-row {
    display: flex;
    align-items: center;
    height: 34px;
    border-bottom: 1px solid rgb(138, 138, 138);
}

.task-row:nth-child(odd) {
    background-color: #f9f9f9;
}

.task-row:nth-child(even) {
    background-color: #FFFFFF;
}

.task-row:hover {
    background-color: #f0f0f0;
}

.task-row .task-name,
.task-row .task-time,
.task-row .task-duration {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 0 6px;
    border-right: 1px solid rgb(138, 138, 138);
}

.task-row .task-name {
    width: 45%;
    border-left: 1px solid rgb(138, 138, 138);
}

.task-row .task-time {
    width: 30%;
}

.task-row .task-duration {
    width: 15%;
    border-right: none;
}

.task-row .btn-container {
    display: flex;
    justify-content: flex-start;
    padding-right: 4px;
}

.task-row .btn-container button {
    background-color: inherit;
    border: none;
    width: 20px;
    height: 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10%;
}

.task-row .btn-container button:hover {
    background-color: #ebebeb;
}